[submodule "yGraphy"]
	path = yGraphy
	url = git@github.com:nobilisbenz/yGraphy.git
[submodule "yReviewy"]
	path = yReviewy
	url = git@github.com:nobilisbenz/yReviewy.git
[submodule "yy"]
	path = yy
	url = git@github.com:nobilisbenz/yy.git
[submodule "yClippy"]
	path = yClippy
	url = git@github.com:nobilisbenz/yClippy.git
